.app__work {
    position: relative;
    padding: 120px;
    background: linear-gradient(rgb(69, 15, 123), rgb(11, 2, 26));
    padding-bottom: 8rem;
    overflow: hidden;
    min-height: 1400px;
    .app__work-text{
        width: 50%;
        padding-left: 4rem;
    }

    h1{
        z-index:15;
        color: rgb(251, 251, 251);
        font-size: 90px;
        margin-bottom: 3rem;
        width: 90%;
        
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore'; 
            font-size: 30px;
            position: absolute;
            margin-top: -21px;
            left: -2rem;
            opacity: 0.6;
        }

        &::after{
            content: '<h1>';
            font-family: 'La Belle Aurore'; 
            font-size: 30px;
            position: absolute;
            margin-top: 100px;
            left: -2rem;
            opacity: 0.6;
        }
    }
}

@media screen and (max-width: 1300px) {
    .app__work {
        padding: 16px;
        display: flex;
        flex-direction: column;
        min-height: 1100px;
        .app__work-text{
            padding-left: 2rem;
            margin-bottom: 0px;
            width: 100%
        }
    
        h1{
            transform: translateY(90px);
            font-size: 40px;
            margin-bottom: 0px;
            
            &::before{
                font-size: 20px;
                margin-top: -30px;
                left: -1.1rem;
            }
    
            &::after{
                font-size: 20px;
                margin-top: 52px;
                left: -1.1rem;
            }
        }
    
        p {
            margin-top: 40px;
            font-size: 13px;
            line-height: 30px;
        }
    }
}